@import '../../App.scss';

#certificate{
    position: relative;
    width: $width;
    background: $dk-blue;
    font-family: $font;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    padding: 2em;
    margin: 1em 0;
    // flex-wrap: wrap;

    #cert-btn{
        width: calc($wk-width * 0.2);
        border: 0.02em solid $white;

        &:hover{
            color: $white;
            background: transparent;
        }
    }
}
