@import '../../App.scss';

#certificate{
    position: relative;
    width: $width;
    background: $dk-blue;
    font-family: $font;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    padding: 2em;
    margin: 1em 0;
    // flex-wrap: wrap;

    .text{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .cert-btn{
        width: calc($wk-width * 0.2);
        border: 0.02em solid $white;
        align-self: center;

        &:hover{
            color: $white;
            background: transparent;
        }
    }
}

.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;

    h1{
        color: $main
    }


    #content-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;
        
        #content{
            position: relative;
            display: grid;
            padding: 2em;
            background: $main;
            border-radius: $small-radius;
            gap: 1em;
        }
    }
}

@media screen and (max-width: 900px) {
    #certificate{
        flex-direction: column;
        align-items: center;
        
        .text{
            text-align: center;
            gap: 2em;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}