@import '../../App.scss';

#pricing{
    position: relative;
    width: $width;
    background: $dk-blue;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font;
    color: $white;
    text-align: center;
    gap: 1em;

    #prc-img{
        position: relative;
        width: $width;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        #prc-btn{
            padding: 0;
            background: transparent;
            width: auto;
        }
    }
}