@import '../../../../App.scss';

#oth-misc{
    position: relative;
    width: $width;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;

    .section{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2em;

        h1{
            width: 100%;
            border-bottom: 0.02em solid $main;
            font-size: calc($text * 1.5);
            color: $main;
            font-weight: 600;
        }

        span{
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: .5em;
            border: 0.02em solid $main;
            border-radius: $small-radius;

            input{
                outline: none;
                border: none;
                padding: .5em 2.5em;
            }

            button{
                position: absolute;
                top: 25%;
                left: 1%;
            }

            textarea{
                border: none;
                resize: none;
                outline: none;
                height: calc($wk-height * 0.13);
            }

            small{
                margin-left: auto;
            }
        }
    }
}