@import url('https://fonts.cdnfonts.com/css/open-sans');

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


$white: #FCFCFD;
$black: #0d0d0d;
$main: #2364AA;
$sub: #F0F8FF;
$secondary: #FFF4CC;
$yellow: #FEC601;
$dk-blue: #101828;
$turq: #73BFB8;
$lt-blue: #D5E5F6;
$lt-gray: #E5E7E8;
$gray: #696F75;
$orange: #EA7317;
$green: #299310;
$red: #db2424;



$height: 100vh;
$width: 100%;
$wk-height: 100em;
$wk-width: 100em;
$radius: 50%;
$border-radius: 1em;
$small-radius: .5em;
$text: 1em;
$large-text: 2.5em;
$extra-large-text: 4em;
$font: 'Open Sans', sans-serif;

.App{
  scroll-behavior: smooth;

  h2{
    font-weight: 700;
    color: $main;
  }

  .heading{
    width: $width;
  }

  small{
    color: $red;
    font-size: calc($text * 0.6);
  }

}

@media screen and (max-width: 600px) {
  .App{

    .heading{
      height: calc($wk-height * 0.05);
    }
  }
}

::-webkit-scrollbar{
  width: .3em;
}

::-webkit-scrollbar-thumb{
  width: 100%;
  background: $main;
  padding: 1em;
}