@import '../../../../App.scss';

#st-courses{
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $white;
    padding: 1em;
    border-radius: $small-radius;
    border: 0.02em solid $main;

    h4{
        color: $main;
        font-weight: 700;
    }

    section{
        position: relative;
        width: 100%;
        height: calc($wk-height * 0.13);
        background: url(../../../../assets/filler.png) no-repeat center;
        background-size: contain;
        margin: 1em 0;
    }

    .stc-btn{
        background: $orange;
        color: $white;
        padding: .7em 1.5em;
        display: flex;
        align-self: center;
    }
}