@import '../../../App.scss';

$mobile-breakpoint: 768px;


$white: #FCFCFD;
$black: #0d0d0d;
$main: #2364AA;
$sub: #F0F8FF;
$secondary: #FFF4CC;
$yellow: #FEC601;
$dk-blue: #101828;
$turq: #73BFB8;
$lt-blue: #D5E5F6;
$lt-gray: #E5E7E8;
$gray: #696F75;
$orange: #EA7317;
$green: #299310;

$height: 100vh;
$width: 100%;
$wk-height: 100em;
$wk-width: 100em;
$radius: 50%;
$border-radius: 1em;
$small-radius: .5em;
$text: 1em;
$large-text: 2.5em;
$extra-large-text: 4em;
$font: 'Open Sans', sans-serif;

.teacher-assessment {
  h2 {
    color: black;
    font-weight: bold;
  }

  .question-wrapper {
    margin-bottom: 1em;

    label {
      margin-right: 0.5em;
    }

    textarea {
      background-color: $turq;
      color: black;
      border-radius: 4px;
      padding: 1em;
      height: 3.4375em;

      @media (max-width: $mobile-breakpoint) {
        height: 2.75em;
      }
    }
  }

  .options-wrapper {
    display: flex;
    flex-wrap: wrap;

    .option-item {
      flex: 0 0 50%;
      margin-bottom: 0.5em;

      label {
        margin-right: 0.5em;
      }

      input {
        background-color: lightblue;
        color: black;
        border-radius: 4px;
        padding: 1em;
        width: 100%;

        @media (max-width: $mobile-breakpoint) {
          width: 100%;
        }
      }
    }
  }

  .toggle-button,
  .add-question-button,
  .save-publish-button {
    background: green;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 1em 2em;
    margin-top: 1em;

    @media (max-width: $mobile-breakpoint) {
      padding: 0.8em 1.6em;
    }
  }

  .timer-wrapper {
    margin-top: 1em;

    label {
      margin-right: 0.5em;
    }

    input {
      background-color: lightblue;
      color: black;
      border-radius: 4px;
      padding: 1em;
      width: 100%;

      @media (max-width: $mobile-breakpoint) {
        width: 100%;
      }
    }
  }

  .preview {
    border: 0.125em solid black;
    padding: 1em;
    margin-top: 1em;

    h2 {
      color: black;
      font-weight: bold;
    }

    .options-preview {
      display: flex;
      flex-wrap: wrap;

      .option-preview {
        flex: 0 0 50%;
      }
    }
  }
}
