@import '../../../App.scss';

#teach-profile{
    position: relative;
    width: 100%;
    background: $lt-blue;
    display: flex;
    padding: 1em;
    gap: 2em;

    section{
        position: relative;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .teach-p-btn{
            background: $orange;
            display: flex;
            gap: .5em;
            color: $white;
            padding: .5em 1em;
            margin-left: auto;
        }

        #teach-progress-panel{
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2em;
    
            span{
                height: calc($wk-height * 0.08);
                width: calc($wk-width * 0.16);
                border-radius: $small-radius;
                background: $white;
                padding: .3em;

                h4{
                    font-weight: 700;
                }
            }
        }
    }

    aside{
        position: relative;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .aside{
            position: relative;
            height: calc($wk-height * 0.24);
            border-radius: $small-radius;
            padding: 1em;
        }
        
        .side-disp-one{
            background:url(../../../assets/topcourse.png) no-repeat center, $white;
        }
        .side-disp-two{
            background:url(../../../assets/stdlocation.png) no-repeat center, $white;
        }
    }
}