@import '../../../../App.scss';

#teach-course{
    position: relative;
    width: 100%;
    background: url(../../../../assets/course.png) no-repeat center, $white;
    height: calc($wk-height * 0.27);
    border-radius: $small-radius;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .upload{
        background: $orange;
        color: $white;
        display: flex;
        flex-direction: row-reverse;
        padding: .7em;
        margin-top: auto;
        align-self: center;
        justify-self: center;

        &:hover{
            background: rgba($orange, 0.5);
        }
    }


}