@import '../../App.scss';

#hero{
    position: relative;
    width: $width;
    background: $secondary;
    height: $height;
    color: $main;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3em;
    padding: 4em 2em;

    h1{
        font-size: clamp($large-text, 5vw, $extra-large-text);
        font-weight: 700;
    }

    #hero-left{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;

        #hero-pointer{
            position: absolute;
            top: 60%;
            left: 40%;
        }

        #hero-frame{
            position: relative;
            margin-top: auto;
        }
    }

    #hero-child{
        position: relative;
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    .hr-btn{
        padding: .7em 5em;
        border: 0.02em solid $white;
        background: $main;
        color: $white;

        &:hover{
            color: $white;
            background: $dk-blue;
        }
    }
}

.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;

    h1{
        color: $main
    }


    #content-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;
        
        #content{
            position: relative;
            display: grid;
            padding: 2em;
            background: $main;
            border-radius: $small-radius;
            gap: 1em;
        }
    }
}

@media screen and (max-width: 600px) {
    #hero{
        position: relative;
        flex-direction: column;
        height: 100%;
        gap: 1em;

        #hero-left{
            position: relative;

            #hero-pointer{
                top: 65%;
                left: 70%;
            }
        }
    }
}