@import '../../App.scss';

#sidenav{
    position: relative;
    height: 100%;
    padding: .3em;
    background: $white;
    border-top: 0.02em solid $main;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    #sd-links{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: .3em;
        padding: 1em;

        .sd-link{
            display: flex;
            align-items: center;
            gap: 1em;
            font-family: $font;
            font-family: $text;
            color: $gray;
            border-radius: $small-radius;
            padding: .7em .2em .7em .7em;

            &.linked{
                background: $main;
                color: $white;
            }
        }
    }
}


#sd-nav-mobile{
    display: none;

    .mobile-btn{
        color: $main;
    }

    #sd-links{
        position: relative;
        width: calc($wk-width * 0.2);
        z-index: 99;
        background: $white;

        .sd-link{
            display: flex;
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    #sidenav{
        display: none;

        #sd-nav-desk{
            display: none;
            padding: 0;
            margin: 0;
        }

    }

    #sd-nav-mobile{
        display: block;
        position: fixed;
        width: 90%;
        top: 2%;
        left: 2%;
        z-index: 10;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;

        .mobile-btn{
            margin-right: auto;
        }
    }
}