@import '../../App.scss';

#about{
    position: relative;
    width: $width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $main;
    font-family: $font;
    gap: 1em;

    h1{
        position: absolute;
        top: 6%;
        justify-self: center;
        align-self: center;
        text-align: center;
        color: $white;
        font-weight: 700;
        font-size: clamp($text, 5vw, $large-text);
    }

    p{
        padding: 2em 4em;
    }
}

@media screen and (max-width: 500px) {
    #about{
        
        img{
            width: 100%;
        }

        h1{
            top: 2.5%;
        }
    }
}