@import '../../App.scss';

#forget-password{
    position: relative;
    width: $width;
    height: $height;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    #boy1{
        position: relative;
        height: 100%;
        object-fit: contain;
    }

    aside{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3em;
        gap: 3em;

        .fg-logo{
            display: grid;
            place-items: center;
        }

        form{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3em;

            span{
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1em;

                label{
                    color: $gray;
                }

                input{
                    outline: none;
                    border: 0.02em solid $gray;
                    font-size: $text;
                    font-family: $font;
                    width: 100%;
                    border-radius: $small-radius;
                }
            }

            .forgot-submit{
                width: 100%;
                background: $lt-blue;
                padding: .7em;
                border-radius: $small-radius;
                color: $gray;
            }
        }
        
        .fg-login{
            color: $gray;
        }
    }
}

@media screen and (max-width: 800px) {
    #forget-password{
        
        #boy1{
            display: none;
        }
    }
}