@import '../../../App.scss';

#st-display{
    position: relative;
    width: $width;
    // height: 100%;
    background: $white;
    overflow-x: hidden;
    // padding: .5em;
    font-family: $font; 
    overflow-x: hidden;
}