@import '../../../App.scss';

$mobile-breakpoint: 768px;


$white: #FCFCFD;
$black: #0d0d0d;
$main: #2364AA;
$sub: #F0F8FF;
$secondary: #FFF4CC;
$yellow: #FEC601;
$dk-blue: #101828;
$turq: #73BFB8;
$lt-blue: #D5E5F6;
$lt-gray: #E5E7E8;
$gray: #696F75;
$orange: #EA7317;
$green: #299310;

$height: 100vh;
$width: 100%;
$wk-height: 100em;
$wk-width: 100em;
$radius: 50%;
$border-radius: 1em;
$small-radius: .5em;
$text: 1em;
$large-text: 2.5em;
$extra-large-text: 4em;
$font: 'Open Sans', sans-serif;

.teacher-audio {
  .label {
    margin-bottom: 1em;

    h2 {
      color: $black;
      font-weight: bold;
      font-size: 1.5em;
    }

    input[type='text'] {
      border-radius: 0.25em;
      text-align: justify;
      height: 1.3em;

      @media (max-width: $mobile-breakpoint) {
        height: 2.75em;
      }
    }

    textarea {
      background-color: $turq;
      color: $black;
      border-radius: 0.25em;
      padding: 1em 1.25em;
      height: 3.25em;

      @media (max-width: $mobile-breakpoint) {
        height: 12.25em;
      }
    }
  }

  span {
    h2 {
      color: $black;
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  .dropZone {
    border-radius: 1em;
    border-width: 0.25em;
    padding: 2em 3.125em;
    align-items: center;
    width: 49.3125em;


    @media (max-width: $mobile-breakpoint) {
      width: 100%;
      padding: 1.5em;
    }
  }

  .dropZoneContent {
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0.15em dashed $gray;
    padding: 4.0em;
    margin-bottom: 1.25em;
    height: 10em;
    cursor: pointer;
  }

  .preview {
    border: 0.125em  $black;
    padding: 1.25em;
    margin: 1em ;

    @media (max-width: $mobile-breakpoint) {
      margin: 0.625em 0;
    }
  }

  .publishButton {
    background: $green;
    color: $white;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 1em 2em;

    @media (max-width: $mobile-breakpoint) {
      padding: 0.8em 1.6em;
    }
  }
}
