@import '../../App.scss';

#started{
    position: relative;
    width: $width;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    color: $main;

    .str-text{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    #str-btn{
        background: $main;
        color: $white;
        width: calc($wk-width * 0.2);
        border: 0.02em solid $main;

        &:hover{
            background: transparent;
            color: $main;
        }
    }
}