@import '../../../App.scss';

#st-topnav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: $width;
    display: flex;
    flex-direction: column;
    padding: .5em 2em;
    background: $white;

    #st-top{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        
        #std-logo{
            width: calc($wk-width * 0.15);
        }

        span, nav{
            position: relative;
            display: flex;
            align-items: center;
            gap: 1em;
        }
        
        span{
            width: calc($wk-width * 0.45);

            p{
                font-size: calc($text * 1.3);
                color: $main;
            }

            label{
                width: 75%;

                input{
                    width: 100%;
                    outline: none;
                    resize: none;
                    border: none;
                    background: $lt-gray;
                    font-family: $font;
                    font-size: $text;
                    padding-left: 2.5em;
                    border-radius: $small-radius;
                }
                
                button{
                    position: absolute;
                    top: 9%;
                    left: 1%;
                    padding: 0;
                    color: $lt-blue;
                }
            }
        }
        
        nav{
            position: relative;
            display: flex;
            align-items: center;

            #disp-img{
                height: calc($wk-height * 0.03);
                width: calc($wk-width * 0.03);
                border-radius: $radius;
            }

        }
        .st-btn{
            color: $main;
        }
    }
}