@import '../../App.scss';

#offers{
    position: relative;
    width: $width;
    font-family: $font;
    display: flex;
    flex-direction: column;

    h1{
        position: absolute;
        top: 8%;
        justify-self: center;
        align-self: center;
        text-align: center;
        color: $white;
        font-weight: 700;
        font-size: clamp($text, 5vw, $large-text);
    }
}

