@import '../../App.scss';

#testimonial{
    position: relative;
    width: $width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    // padding: 1em;
    font-family: $font;
    color: $main;
    
    .t-content{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1em 0;
        gap: 2em;

        h1{
            position: absolute;
            top: 8%;
            justify-self: center;
            align-self: center;
            text-align: center;
            color: $white;
            font-weight: 700;
            font-size: clamp($text, 5vw, $large-text);
        }
    }

    .t-button{
        position: absolute;
        bottom: 10%;
        left: 10%;
        display: flex;
        gap: 3em;

        .t-btn{
            background: $main;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc($wk-height * 0.02);
            width: calc($wk-width * 0.02);
            border-radius: $radius;

            &:hover{
                background: $yellow;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #testimonial{

        .t-content{
            h1{
                top: 2.5%;
            }
        }

        .t-button{
            bottom: 5%;
            left: 60%;
        }
    }
}