@import '../../App.scss';

footer{
    position: relative;
    width: $width;
    padding: 2em;
    background: $black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $font;
    font-size: $text;
    color: $white;
    // margin-top: 5em;
    gap: 1em;

    .foots{
        position: relative;
        width: $width;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5em;

        nav{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1em;

            h1{
                font-weight: 700;
            }

            .link, #link{
                background: transparent;
                color: $white;
                text-align: left;
                padding: 0;
                cursor: pointer;

                &:hover{
                    color: $yellow;
                }
            }

        }
    }
    
    #footer-socials{
        position: relative;
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 3em;
        
        a{
            text-decoration: none;
            color: $white;
    
            &:hover{
                color: $yellow;
            }
        }
    }

    span{
        width: $width;
        text-align: center;
        padding: 1em 0;
        margin-top: .5em;
        // border-top: 0.02em solid $white;

        p{
            color: $gray;
        }
    }
}